
/* header start */
header{
  overflow: hidden;
  padding-top: 0.1px;
  background-size: 100% 100%;
  position: relative;
  min-height:  97.77vw;
  /* background: linear-gradient(135deg, #e6b929 0%, #e0c366 100%); */
}

.videoDiv{
  overflow: hidden;
  margin-left: 6.11vw;
  position: relative;
  padding-top: 0.1px;
  /* top: 6.146vw; */
  top: 0.9vw;
  height: 34.378vw;
  border: 2px solid;
  width: 86.357vw;
  border: 1px solid white;
  outline: 1.111vw solid #e0ddeb;
  box-shadow: 0px 9.44vw 10vw -5.59vw rgba(0,0,0,0.55);
}
.videoOverlay{
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  /* background: radial-gradient(ellipse at center, rgba(255,255,255,0) -100%, rgba(159,134,254,1) 40%); */
  background: rgba(16,10,26,0.70);
}

.quotContainer{
  position: absolute;
  top: 1.85vw;
  left: 1.85vw;
  width: auto;
  height: auto;
}
.quotationPng{
  position: absolute;
  top: 0vw;
  left: 0.777vw;
  width: 6.222vw;
  height: 4.37vw;
}
.animQuot{
  position: absolute;
  width: 30vw;
  opacity: 0;
  transition: 1s;
  margin-top: 2.5vw;
  margin-left: 3.81vw;
  font-family: 'Montserrat-Bold',serif;
  color: white;
  font-size: 1.777vw;
}
.quotContainer p:nth-child(2){
  opacity: 1;
}
.quotContainer p:nth-child(3){
  opacity: 0;
}

.videoDiv h1{
  width: 100%;
  text-align: center;
  top: 16vw;
  position: absolute;
  color: white;
  font-size: 4.444vw;
  font-family: 'Montserrat-Hairline',serif;
}
.videoDiv h1 span{
  font-family: 'Poppins-Black',serif;
}

.highPerformance{
  font-family: 'Pacifico',serif;
  position: absolute;
  width: 100%;
  bottom: 1vw;
  text-align: center;
  font-size: 3.36vw;
  color: white;
}
.getInTouchBtn{
  transition: 0.4s;
  font-family: 'Montserrat-Regular',serif;
  position: absolute;
  background-color: rgba(255,160,49,1);
  color: white;
  border: none;
  width: 12.89vw;
  height: 2.965vw;
  border-radius: 2vw;
  font-size: 1.186vw;
  margin-left: 50%;
  left: -6.445vw;
  bottom: 1.2vw;
}
.getInTouchBtn:hover{
  cursor: pointer;
  background-color: rgba(255,174,69,0.6);
}

.videoSlider{
  transition: 2s;
  background-color: rgb(255,175,7);
  position: absolute;
  width: 0vw;
  height: 100%;
  top: 0;
  right: 0;
}
.arrowHolder{
  position: absolute;
  overflow: hidden;
  width: 5vw;
  height: 4vw;
  top: 14.165vw;
  left: -5vw;
}
.arrow{
  transition: 0.4s;
  transform: rotate(45deg);
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: #ffae45;
  right: -1vw;
  top: 1vw;
}
.arrow:hover{
  cursor: pointer;
}

.FREE{
  position: absolute;
  right: -0.3vw;
  top: 10vw;
}
.FREE p{
  color: #ffae45;
  font-family: 'Montserrat-Black',serif;
  margin: 0;
  font-size: 1.779vw;
  writing-mode: tb-rl;
}

.bannerAnimArrow{
  top: 41vw;
  position: absolute;
  width: 1px;
  height: 11.11vw;
  background-color: rgb(193,74,51);
  margin-left: 50%;
  animation-name: bannerAnimArrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.bannerAnimInnerArrow{
  position: absolute;
  bottom: -5px;
  left: -5px;
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  border-bottom: 1px solid rgb(193,74,51);
  border-left: 1px solid rgb(193,74,51);
}
@keyframes bannerAnimArrow{
  0%{
    height: 1vw;
  }
  100%{
    height: 11.11vw;
  }
}

.mobileParrot{
  width: 30.29vw;
  height: 57.85vw;
  position: absolute;
  bottom: -8vw;
  left: 18.7vw;
}

.mobileVid{
  background-image: url('../images/desktop/mobileVid.png');
  width: 45.407vw;
  height: 70vw;
  background-size: 100% 100%;
  position: absolute;
  right: 6.5vw;
  bottom: -20vw;
}
@media screen and (max-width:1366px) and (min-width:760px) {

}
.mobileVideoDiv{
  overflow: hidden;
  border-radius: 0.5vw;
  position: relative;
  width: 28.65vw;
  height: 50vw;
  top: 7.7vw;
  left: 7.5vw;
}
.webDevelopment{
  transition: 2s;
  margin-top: 34.15vw;
  left: -30vw;
  position: absolute;
  bottom: 6vw;
}

.webDevelopment p{
  font-size: 4.444vw;
  margin: 0;
  color: white;
}
.webDevelopment p:nth-child(1){
  margin-bottom: -1.2vw;
  font-family: 'Montserrat-Hairline',serif;
}
.webDevelopment p:nth-child(2){
  font-family: 'Montserrat-Black',serif;
}
/* header end */
/* main start */
main{
  position: relative;
}
.narrowWrapper{
  position: absolute;
  top: -6vw;
  left:0;
  width: 100%;
  overflow:hidden;
  height: 6vw;
}
.narrowBG{
  box-shadow: 1.7vw 7px 50px -30px rgba(0,0,0,0.75);
  height: 200vw;
  width: 56vw;
  position: absolute;
  background-color: #e0ddeb;
  transform: rotate(18deg);
  top: -15vw;
  left: -36vw;
}
.homeDesign{
  position: relative;
  left: 4vw;
  top: 4vw;
}
.homeDesign a,.homeDesign span{
  font-family: 'Montserrat-Bold',serif;
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
}
.homeDesign a:hover{
  text-decoration: underline;
}
/* recent work start */
.rectWorkImageBox{
  border-top: 2.814vw solid white;
  display: flex;
  width: 100%;
}
.recentWorkImages{
  transition: 1s;
  width: 100%;
  height:100%;
}

.imgBox{
  position: relative;
  overflow: hidden;
  width: 33.33%;
  height: 21.2vw;
}
.imgBox:hover{
  cursor: pointer;
}
.imgBox::before{
  transition: 1s;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0,0.7);
}
.imgBox:hover:before{
  background-color: rgb(0,0,0,0.3);
}

.imgBox::after{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 220%;
  top:-160%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
}
.imgBox:hover:after{
  top:100%;
  left:100%;
}
/* recent work end */
/* main end */

/* what we do section start */
.whatWeDoHtwo{
  font-family: 'Montserrat-Light';
  text-align: center;
  margin-top: 14vw;
  margin-bottom: 3.5vw;
  font-size: 2.5vw;
}
/* four image grid */
.fourImgGrid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 200vh;
  /* grid-gap: 5px; */
}
.fourImgGrid>div{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.gridImgBox{
  transition: 1s;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
}
.gridImg{
  width: 100%;
  height: 100%;transition: 1s;
  margin-top: 0%;
  margin-left: 0%;
}
.gridImgBox::after{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 220%;
  top:-160%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
}
.gridImgBox:hover:after{
  top:100%;
  left:100%;
}

.gridParaBox{
  position: absolute;
  bottom: 5vw;
  left: 2.4vw;
}

.gridParaBox p:nth-child(1){
  margin: 0;
  font-family: 'Montserrat-Light';
  color: white;
  font-size: 4.7vw;
}
.gridParaBox p:nth-child(2){
  margin: 0;
  font-family: 'Montserrat-Black';
  color: white;
  font-size: 4.7vw;
}

.blackTextLayer{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0);
  transition: 1s;
}
.blackLayerInside{
  transition: 1s;
  color: white;
  position: absolute;
  width:90%;
  height: 90%;
  top: 5%;
  left: 5%;
  opacity: 0;
}
.blackLayerInside h2{
  margin-top: 3vw;
  margin-bottom: 7vh;
  font-size: 3.2616vw;
  font-family: 'Montserrat-Black';
}
.blackLayerInside h2 span{
  font-family: 'Montserrat-Light';
}
.blackLayerInside p{
  width: 37vw;
  font-size: 1.535vw;
  font-family: 'Montserrat-Regular';
  text-align: justify;
}

.readMoreDiv{
  font-family: 'Montserrat-Bold';
  font-size: 1.635vw;
  position: absolute;
  bottom: 4vh;
  right: 6vw;
}
.readMoreDiv:hover{
  cursor: pointer;
}
.readMoreDiv h3{
  margin: 0;
  margin-top: 0.5vw;
  color: white;
}
.readMoreAnimDiv{
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  border-radius: 2px;
  height: 0.27vw;
}
.readMoreAnimDivBlue{background: rgb(106,110,248);}
.readMoreAnimDivRed{background: rgb(209,46,34);}
.readMoreAnimDivYellow{background: rgb(180,169,57);}
.readMoreAnimDivPurple{background: rgb(102,52,175);}
/* four image grid */
/* what we do section end */
/* support and maintance start */
.supportAndMaintance{
  overflow: hidden;
  margin-top: 0.741vw;
  position: relative;
  min-height: 60.41vw;
  background: radial-gradient(ellipse at center, rgba(228,229,227,1) 0%, rgba(160,201,150,1) 91%, rgba(160,201,150,1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 250%;
}

.purpScreenDiv{
  position: relative;
  transition: 1s;
  transform-origin: 30vw center 0px;
  transform: matrix3d(0.87,0,0.50,0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
}
.purpScreen{
  transition: 1s;
  position: absolute;
  width: 37.353vw;
  height: 39.5vw;
  top: 1.6vw;
  left: 5vw;
}
.purpScreen:hover{
  filter: brightness(115%);
}
.purpleScreenGear{
  position: absolute;
  background-image: url("../images/desktop/maintenance/gear.png");
  width: 16vw;
  left: 18vw;
  height: 16vw;
  background-size: 100% 100%;
  top: 4vw;
  animation-name: purpleTabletGear;
  animation-duration: 160s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.purpleScreenGearRotate{
  transform: matrix3d(0.87,0,0.50,0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
}

.purpTabletDiv{
  position: relative;
  transform-origin: 20vw 0vw 0px;
  transform: matrix3d(0.87,0,0.50,-0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
  transition: 1s;
}
.purpTabletDiv:hover{
  filter: brightness(115%);
}
.purpTablet{
  position: absolute;
  width: 23vw;
  height: 34.86vw;
  top: 10.37vw;
  left: 2.6vw;
}
.purpleTabletGear{
  position: absolute;
  top: 17vw;
  left:6vw;
  background-image: url("../images/desktop/maintenance/gear.png");
  width: 16vw;
  height: 16vw;
  background-size: 100% 100%;
  animation-name: purpleTabletGear;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
@keyframes purpleTabletGear {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.supMain{
  position: absolute;
  right: 9.7vw;
  top: 4.2vw;
  height: auto;
}
.supMain h2{
  margin: 0;
  margin-top: 1vw;
  font-size: 5.8vw;
  font-family: 'Montserrat-Hairline';
  font-weight: 100;
}
.supMain h2 span{
  font-family: 'Montserrat-Black';
  position: relative;
  top: -1vw;
}

.supMainText{
  font-family: 'Montserrat-Regular';
  font-size: 1.45vw;
  position: absolute;
  margin: 0;
  top: 18.9vw;
  right: 9.3vw;
}
.feedBackSingle{
  border: 1px solid rgb(162,202,152);
  background-color: rgba(162,202,152,0.3);
  position: absolute;
  bottom: 17.5vw;
  right: 5vw;
  padding-top: 1.186vw;
  padding-left: 1.11vw;
  padding-right: 1.111vw;
}

.imgNameFeedback{
  display: flex;
  align-items: center;
  font-family: 'Montserrat-Bold';
}
.imgNameFeedback img{
  margin-right: 0.8154vw;
  width: 4.077vw;
  height: 3.9288vw;
}
.imgNameFeedback p{
  font-size: 1vw;
  margin: 0;
}
.imgNameFeedback a{
  text-decoration: none;
}

.feedBackText{
  text-align: justify;
}
.feedBackText p{
  margin-left: 4.8924vw;
  font-size: 1.05vw;
  font-family: 'Montserrat-Light';
  line-height: 1.2;
  font-weight: 800;
}

.contactUsMaintenance{
  position: absolute;
  height: 4vw;
  right: 12.45vw;
  bottom: 10.5vw;
}
.contactUsMaintenance:hover{
  cursor: pointer;
}
.maintenanceLineAnim{
  transition: 1s;
  height: 0.27vw;
  width: 40%;
  background-color: rgb(244,173,14);
  border-radius: 2px;
}
.contactUsButtonText{
  display: flex;
  align-items: center;
  height: 3vw;
}
.contactUsButtonText h3{
  color: white;
  font-size: 1.779vw;
  font-family: 'Montserrat-Bold';
  margin:0;
}
.svgArrow{
  transition: 1s;
  margin-top: 0.7vw;
  filter: brightness(100%);
}
/* support and maintance end */
/* technologies section start */
.technologies{
  overflow: hidden;
  padding-top: 0.1px;
  position: relative;
  height: 55.81vw;
  background: rgb(226,231,236);
}
.technoPhone{
  position: absolute;
  right: 0;
  top: 0vw;
  width: 63.146vw;
  height: 56vw;
}

.technologiesHeading{
  position: relative;
  margin-top: 11.2vw;
  margin-left: 5.41vw;
}
.technologiesHeading h2{
  color: rgb(51,51,51);
  margin: 0;
  font-size: 2.9vw;
  font-family: 'Montserrat-Light';
}

.technologiesArticle{
  position: relative;
  margin-left: 6vw;
  margin-top:6.4vw;
}
.technologiesArticle p{
  margin: 0;
  font-family: 'Montserrat-Light';
  color: rgb(153,153,153);
  font-size: 1vw;
}

.technologiesReadMoreDiv{
  position: absolute;
  left: 16.753vw;
  bottom: 10.229vw;
}
.technologiesReadMoreDiv:hover{
  cursor: pointer;
}
.technoLineAnim{
  transition: 1s;
  border-radius: 2px;
  height: 0.27vw;
  width: 40%;
  background-color: rgb(255,180,0);
}
.technologiesReadMoreDiv h3{
  margin: 0;
  margin-top: 0.2vw;
  font-family: 'Montserrat-Bold';
  font-size: 1.635vw;
}
/* technologies section end */
/* discus new ideas section start */
.discussNewIdeas{
  position: relative;
  padding-top: 0.1px;
  height: 26.518vw;
  background-image: url('../images/desktop/disscusProjects.jpg');
  background-size: 100% 200%;
  background-position: 0 0;
}
.discussNewIdeas h2{
  position: relative;
  font-family: 'Montserrat-Black',serif;
  color: white;
  margin: 0;
  top: 9.629vw;
  left: 11.111vw;
  font-size: 2.37vw;
}
/* discus new ideas section end */
/* our workflow section start */
.workflow{
  position: relative;
  border: 1px solid yellow;
}

.workflowHeadingContainer{
  position: relative;
  margin-top: 10.148vw;
  margin-left: 7.037vw;
}
.workFlowLine{
  position: relative;
  left: 0.5vw;
  height: 2px;
  width: 26.74vw;
  background-color: rgb(244,173,14);
}
.workflowHeadingContainer h2{
  margin: 0;
  font-size: 5.333vw;
  font-family: 'Montserrat-Hairline',serif;
}
.workflowHeadingContainer h2 span{
  font-family: 'Montserrat-Bold',serif;
}

.workFlowVIdeoDiv{
  width:
  height: 52.74vw;
}
/* our workflow section end */
/* from the blog section start */
.blogSection{
}
.blogSectionContainer{
  padding-top: 0.1px;
  height: 59.15vw;
  background-color: rgb(216,218,224);
}
.blogSection h2{
  margin: 0;
  margin-left: 15vw;
  font-size: 3.51vw;
  font-family: 'Montserrat-ExtraLight',serif;
}
.blogSection h2 span{
  font-size: 3.51vw;
  font-family: 'Montserrat-Black',serif;
}
.blogArticle{
  position: relative;
  width: 69.93vw;
  height: 22.79vw;
  margin-left: 15.324vw;
  margin-top: 4.978vw;
  background-color: #fff;
}

.screwContainer{
  position: absolute;
  overflow: hidden;
  top: -0.855vw;
  left: -0.855vw;
  height: 24.5vw;
  width: 22.2vw;
  border-radius: 1vw;
}
.screwDiv{
  width: 120%;
  height: 100%;
  border-radius: 1vw;
  border-bottom-right-radius: 0;
  position: relative;
  left: -12.3vw;
  background-color: rgb(230,183,41);
  transform: skewX(-33deg);
}

.authorDiv{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 2.928vw;
}
.authorDiv img{
  width: 4.782vw;
  height: 4.782vw;
}
.authorDiv p{
  font-family: 'Montserrat-Light',serif;
  font-size: 1vw;
  margin-left: 0.5vw
  color: rgb(101,102,104);
}

.blogHttps{
  position: relative;
  width: 31.332vw;
  height: 21.327vw;
  top: -2vw;
  left: -2vw;
}

.blogArticle h3{
  margin: 0;
  margin-left: 4vw;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 1vw;
  font-size: 2.928vw;
  font-family: 'Montserrat-Regular',serif;
}
.articleText{
  /* border: 1px solid; */
  font-family: 'Montserrat-ExtraLight',serif;
  font-size: 1.17vw;
  color: rgb(153,153,153);
  position: absolute;
  top: 7vw;
  left: 30vw;
  width: 36.359vw;
  text-align: justify;
}
.articleButtonReadMore{
  transition: 0.4s;
  position: absolute;
  font-family: 'Montserrat-Bold',serif;
  width: 11.224vw;
  height: 2.928vw;
  bottom: 1.415vw;
  right: 2.733vw;
  color: white;
  font-size: 1.464vw;
  background-color: rgb(230,183,41);
  border: none;
}
.articleButtonReadMore:hover{
  cursor: pointer;
  filter: brightness(120%);
}
/* from the blog section end */
