header{
  padding-top: 0.1px;
  /* background: linear-gradient(135deg, #e6b929 0%, #e0c366 100%); */
  background-size: 100% 100%;
  position: relative;
  height: calc(100vh + 6vw);
}



.bigConnectionsBox{
  position: absolute;
  width: 44.1%;
  height: 69.423%;
  top: 1.2vw;
  left: 27.2vw;
  filter: hue-rotate(0deg);
  animation-name: bigConnectionsBox;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

.lefMonitorTriangle{
  animation-name: bigConnectionsBox;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /* opacity: 0.5; */
  position: absolute;
  /* border: 1px solid red; */
  top: 10.7vw;
  left: 19.3vw;
  width: 9.774%;
  height: 28.269%;
  background-size: 100% 100%;
  background-image: url("../images/desktop/meetTheTeam/leftMonitorTriangle.png");
}

@keyframes bigConnectionsBox {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}



.graphBox {
    top: 4vw;
    left: 49vw;
    position: absolute;
    /* border: 1px solid red; */
    height: 11.7369vw;
    width: 20.1421vw;
    transform: rotateY(-70deg);
    perspective-origin: 30vw;
}

.graphWraper{
  background-image: url("../images/desktop/meetTheTeam/graphBox.png");
  background-size: 100% 100%;
  transform: scale(0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 1%;
  padding-right: 1%;
}

.graphWraperFather{
  transform: rotate(20deg);
  width: 100%;
  height: 100%;
}

.graphLine{
  bottom: -2vw;
  left: 0.5vw;
  transition: 5s;
  background-image: url("../images/desktop/meetTheTeam/graphLine.png");
  position: relative;
  background-size: 100% 100%;
  width: 2vw;
  height: 1vw;
  align-self: flex-end;
}

.diagram{
  position: absolute;
  background-size: 100% 100%;
  background-image: url("../images/desktop/meetTheTeam/diagram.png");
  width: 9vw;
  height: 9vw;
  top: -1.5vw;
  left: 0;
}
.PCguy{
  position: absolute;
  background-size: 100% 100%;
  background-image: url("../images/desktop/meetTheTeam/PCguy.png");
  top: 11vw;
  left: 16vw;
  width: 11.492%;
  height: 29.038%;
  animation-name: PCguy;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes PCguy {
  0%{
    top: 11vw;
  }
  50%{
    top: 10vw;
  }
  100%{
    top: 11vw;
  }
}

.bigConnectionsBox img{
  width: 100%;
  height: 100%;
}

.solidCodeUsBlog{
  margin-left: 5.5vw;
  position: absolute;
  bottom: 6.5vw;
}
.solidCodeUsBlog p{
  font-size: 4.444vw;
  margin: 0;
  color: white;
}
.solidCodeUsBlog p:nth-child(1){
  margin-bottom: -1.2vw;
  /* font-family: 'Montserrat-ExtraLight',serif; */
  font-family: 'Roboto-Thin';
  font-weight: 100;
}
.solidCodeUsBlog p:nth-child(2){
  /* font-family: 'Montserrat-Black',serif; */
  font-family: 'Roboto-Black';
}

main{
  min-height: 5vw;
  position: relative;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  background-color: #e0ddeb;
}
.narrowWrapper{
  position: absolute;
  top: -6vw;
  left:0;
  width: 100%;
  overflow:hidden;
  height: 6vw;
}
.narrowBG{
  box-shadow: 1.7vw 7px 50px -30px rgba(0,0,0,0.75);
  height: 200vw;
  width: 56vw;
  position: absolute;
  background-color: #e0ddeb;
  transform: rotate(18deg);
  top: -15vw;
  left: -36vw;
}
.homeDesign{
  position: relative;
  left: 4vw;
  top: 4vw;
}
.homeDesign a,.homeDesign span{
  font-family: 'Montserrat-Bold',serif;
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
}
.homeDesign a:hover{
  text-decoration: underline;
}
.content{
  /* border: 1px solid black; */
  padding-top: 0.1px;
  padding-bottom: 4vw;
  position: relative;
  left: 5%;
  top: -0vw;
  background-color: rgb(244,244,244);
  width: 95%;
  min-height: 10vw;
  /* height: 100%; */
  box-shadow: 0px 0px 152px -45px rgba(0,0,0,0.75);
}


/* 4 services */
.videoDiv{
  padding-top: 0.1px;
  top: 0.9vw;
  margin-left: 6.11vw;
  position: relative;
  height: 25.648vw;
  width: 86.357vw;
  perspective: 100vw;
  box-shadow: 0px 9.44vw 5vw -5.59vw rgba(0,0,0,0.55);
  display: flex;
}

.UIUXdesign{
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  background-color: blue;
  width: 100%;
}
.wordpressDevelopment{
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  background-color: red;
  width: 2.5%;
}
.seoMarketing{
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  background-color: yellow;
  width: 2.5%;
}
.ecommerceSolutions{
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  background-color: purple;
  width: 2.5%;
}
.UIUXdesign:hover,
.wordpressDevelopment:hover,
.seoMarketing:hover,
.ecommerceSolutions:hover{
  cursor: pointer;
}

.container{
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 86.357vw;
  /* border: 3px solid green; */
}
.container img{
  width: 100%;
}

/* .wordpressDevelopment .container{
  left: -3vw;
}

.ecommerceSolutions .container{
  left: -8vw;
} */

/* seo */
.gearOne {
  position: absolute;
  top: 4vw;
  left: 39vw;
  background-size: 100% 100%;
  width: 5vw;
  height: 5vw;
  background-image: url('../images/desktop/SEO/gearOne.png');
  animation-name: gearOne;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes gearOne {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.gearTwo {
  position: absolute;
  top: 9.5vw;
  left: 38.7vw;
  background-size: 100% 100%;
  width: 4vw;
  height: 4vw;
  background-image: url('../images/desktop/SEO/gearTwo.png');
  animation-name: gearTwo;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes gearTwo {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}


.uiuxText{
  width: 40vw;
  margin: 0;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  transform-origin: left;
  transition: 0.3s;
  position: relative;
  font-size: 1.7vw;
  pointer-events: none;
  transform: rotate(90deg);
  /* writing-mode: rl; */
  /* text-orientation: upright; */
}
.UIUXdesign .uiuxText{
  transform: rotate(0deg);
}


.uiuxText span:nth-child(1){
  font-family: 'Roboto-Thin';
  font-weight: 100;
  color: white;
}

.uiuxText span:nth-child(2){
  font-family: 'Roboto-Black';
  color: white;
}
